.font1 {
  font-family: "Oswald", sans-serif;
}
.font2 {
  font-family: "Overpass", sans-serif;
}
body {
  font-family: "Overpass", sans-serif;
}
a,
a:visited,
a:focus,
a:active {
  color: #939393;
  text-decoration: none;
  transition: all ease .3s;
}
a:hover {
  text-decoration: none;
  color: #acacac;
}
::selection {
  color: white;
  background: #b5b6e9;
}
::-moz-selection {
  color: white;
  background: #8d90de;
}
#content {
  color: #555;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.8em;
  margin: 30px auto;
}
/*--- Top Bar Area ---*/
#top-bar {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}
#social-icons {
  float: right;
  position: relative;
  text-align: right;
}
#social-icons img {
  width: 32px;
  transform: scale(1, 1);
  transition: transform 0.2s ease-in-out;
  margin: 8px;
}
#social-icons img:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
}
#search-top {
  margin: 10px 0px;
}
@media screen and (min-width: 768px) {
  #search-top {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #search-top {
    text-align: center;
  }
}
#search-top input[type="text"] {
  background: white;
  width: 250px;
  border: none;
  border-radius: 0px;
  outline: none;
  margin: 0 3px;
  height: 30px;
  opacity: .2;
  transition: opacity .2s ease;
}
#search-top input[type="text"]:focus {
  opacity: 1;
}
#search-top button[type="submit"] {
  background: none;
  box-shadow: none;
  padding: 0px;
  border: none;
  text-shadow: none;
  color: #fff;
  font-size: 16px;
  margin-left: 4px;
}
/*----Navigation Bar----*/
.default-nav {
  text-align: center;
}
#nav-wrapper {
  background: #6669d2;
}
#nav-wrapper #site-navigation {
  display: block;
  float: none;
  clear: both;
  padding: 20px 0;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
  width: auto;
}
#nav-wrapper #site-navigation a {
  text-align: left;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}
#nav-wrapper #site-navigation ul li {
  display: inline-block;
  float: none;
  padding: 8px 10px;
}
#nav-wrapper #site-navigation ul ul {
  opacity: 0;
  transition: opacity .2s;
  top: 32px;
}
#nav-wrapper #site-navigation ul ul li {
  padding: 0px;
}
#nav-wrapper #site-navigation ul ul a {
  font-size: 12px;
  padding: 12px 10px;
  text-transform: none;
}
#nav-wrapper #site-navigation ul > li:hover > ul {
  width: 200px;
  opacity: 1;
  box-shadow: none;
}
#nav-wrapper #site-navigation ul > li:hover > ul li {
  opacity: 1;
  background: #6e71d4;
  transition: background .2s ease;
  border-bottom: solid 1px #6669d2;
}
#nav-wrapper #site-navigation ul > li:hover > ul li a {
  color: white;
  text-shadow: 0px 1px 0px #6669d2;
}
#nav-wrapper #site-navigation ul > li:hover > ul li:hover {
  background: #5e61d0;
}
#nav-wrapper #site-navigation ul ul ul {
  margin-left: 1px;
  top: 0px;
}
@media screen and (max-width: 768px) {
  #site-navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .slicknav_menu {
    display: none;
  }
}
.slicknav_menu {
  text-align: center;
  background: url(../../images/pattern-top.png) #dddddd;
  border-bottom: solid 2px #ccc;
  padding: 10px 0;
}
.slicknav_menu a .slicknav_menutxt {
  font-weight: 700;
  font-size: 20px;
  color: #888;
  text-shadow: 1px 1px 0px #eee;
}
.slicknav_menu ul {
  list-style: none;
  margin-left: 0px;
}
.slicknav_menu ul li {
  background: #eee;
  padding: 10px 0;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #ccc;
}
.slicknav_menu ul li ul {
  margin-left: 30px;
}
.slicknav_menu ul li ul li {
  border-top: none;
  border-bottom: none;
}
.slicknav_menu ul li a {
  color: #aaa;
}
/*--- Masthead ---*/
.site-header {
  height: 500px;
}
.site-branding {
  top: 40%;
  text-align: center;
}
.site-branding #logo {
  text-align: center;
}
.site-branding .site-title {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 50px;
  padding: 10px 15px;
  text-shadow: 0px 1px 0px #24277b;
}
h2.site-description {
  font-family: "Overpass", sans-serif;
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  margin-top: 5px;
  padding: 10px 15px;
}
/*----Slider----*/
.bx-wrapper {
  margin-top: 50px !important;
}
.bx-wrapper ul {
  list-style: none;
  margin: 0px;
}
.bx-wrapper ul img {
  width: 100%;
  height: auto;
}
.bx-wrapper .slide_caption {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: 0px  auto;
  font-size: 18px;
  font-weight: 300;
  color: #eee;
  background: rgba(0, 0, 0, 0.3);
  border-top: solid 3px #6669d2;
  padding: 20px;
  overflow: hidden;
}
.bx-wrapper .bx-controls .bx-pager-item a {
  border-radius: 0px !important;
  height: 5px !important;
  width: 20px !important;
  background: #8d90de !important;
}
.bx-wrapper .bx-controls .bx-pager-item a.active {
  background: #3f42c6 !important;
}
/*--Homepage--*/
#primary-home #page-title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  margin: 20px 0;
  color: #6669d2;
  width: 100%;
}
#primary-home #page-title span {
  position: relative;
}
#primary-home .article-wrapper {
  margin-bottom: 20px;
}
#primary-home .article-wrapper .grid2 {
  padding: 0px;
}
#primary-home .article-wrapper .grid2 .featured-image {
  margin-bottom: 2px;
}
#primary-home .article-wrapper .grid2 .featured-image img {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  bottom: 0px;
}
#primary-home .article-wrapper .grid2 .featured-image:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#primary-home .article-wrapper .grid2 .entry-title a {
  font-size: x-large;
  line-height: 35px;
  text-align: center;
}
#primary-home .article-wrapper .grid3 .entry-title a {
  font-size: large;
}
#primary-home .article-wrapper .grid4 {
  margin-bottom: 2px;
  background: none;
  z-index: 99;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
.featured-wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}
.featured-wrapper .featured-image {
  transition: transform .2s ease;
}
.featured-wrapper .featured-image img {
  border-radius: 50%;
}
.featured-wrapper header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
  transform: rotateY(90deg);
  transition: transform .2s ease .2s;
  font-family: "Oswald", sans-serif;
}
.featured-wrapper header .entry-title {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
.featured-wrapper header .entry-title a {
  font-size: 16px;
  color: #6669d2;
  font-weight: 300;
  opacity: 1;
  font-family: "Overpass", sans-serif;
}
.featured-wrapper:hover .featured-image {
  transform: rotateY(90deg);
}
.featured-wrapper:hover header {
  transform: rotateY(0deg);
}
.blog main {
  margin-top: 20px;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .article-wrapper {
    padding: 0px;
  }
  .site-color {
    text-align: center;
  }
  .site-description {
    text-align: center;
  }
  #social-icons {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .site-color {
    text-align: center;
  }
  .site-description {
    text-align: center;
  }
  #social-icons {
    text-align: center;
  }
  #primary-home .featured-image {
    height: 90%;
  }
  .featured-wrapper {
    width: 90%;
    margin: auto;
    height: auto;
    overflow: hidden;
  }
}
/*---- Pagination ----*/
.pagination {
  position: relative;
  top: 20px;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
}
.pagination a {
  color: #000000;
}
.pagination ul {
  position: relative;
  top: 4px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: none;
  display: inline-block;
}
.pagination ul li {
  float: left;
  margin: 0 10px;
}
.pagination .current {
  color: #6669d2;
  transform: scale(1.2, 1.2);
}
.pagination .prev,
.pagination .next {
  text-transform: uppercase;
}
.pagination a.prev:before {
  content: "\f104";
  font-family: "FontAwesome";
  margin-right: 10px;
}
.pagination a.next:after {
  content: "\f105";
  font-family: "FontAwesome";
  margin-left: 10px;
}
#colophon {
  border-top: dashed 3px #eee;
}
#footer-sidebar .widget .widget-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
  border-bottom: solid 2px #6669d2;
  padding-bottom: 20px;
  padding-left: 20px;
}
#footer-sidebar .widget ul {
  margin-left: 20px;
  font-size: 14px;
  line-height: 2em;
  color: #777;
  font-weight: 300;
}
#footer-sidebar .widget li {
  list-style: none;
}
#footer-sidebar .widget li:before {
  content: "\f105";
  font-family: "FontAwesome";
  position: relative;
  color: #6669d2;
  margin-right: 10px;
}
#footer-sidebar .widget_tag_cloud .tagcloud {
  margin: 0px 15px;
}
#footer-sidebar .widget_recent_comments ul {
  color: #bbb;
}
#footer-sidebar .widget_search {
  margin-top: 1.5em;
}
#footer-sidebar .widget_search input[type="search"] {
  font-size: 12px;
  width: 100%;
}
#footer-sidebar .widget_calendar {
  margin-top: 1.5em;
}
table caption {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #3f42c6;
  text-align: center;
  margin: 5px 0;
}
table th {
  text-align: center;
}
table td {
  text-align: center;
}
.site-info {
  background: white;
  padding: 10px 100px;
  text-align: center;
}
.site-info a {
  color: #6669d2;
}
#primary .standard-post {
  border-radius: 5px 5px 0px 0px;
  padding: 0 30px;
  top: 0px;
  border: solid 1px #eee;
}
#primary .wp-post-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#primary h1.entry-title {
  position: relative;
  font-family: "Overpass", sans-serif;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #aaa;
  padding: 10px 0px;
  margin-bottom: 0px;
}
#primary h1.entry-title span {
  position: relative;
}
#primary .entry-meta {
  margin: 0px 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: solid 1px #eee;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
#primary .entry-meta a {
  color: #6669d2;
}
#primary .entry-meta .byline {
  margin-left: 30px;
}
#primary .entry-footer {
  color: #6669d2;
}
#primary .entry-footer span.text {
  display: block;
  color: #aaa;
}
#primary .featured-img {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#primary .navigation {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  padding: 20px 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin-top: 20px;
}
#primary .navigation .nav-previous {
  position: relative;
}
#primary .navigation .nav-previous:before {
  content: "\f053";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #6669d2;
}
#primary .navigation .nav-next {
  position: relative;
}
#primary .navigation .nav-next:after {
  content: "\f054";
  font-family: "FontAwesome";
  margin-left: 10px;
  color: #6669d2;
}
#primary .edit-link {
  float: right;
}
#primary table {
  border: solid 1px #6669d2;
}
#primary table caption {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #3f42c6;
  text-align: center;
  margin: 5px 0;
}
#primary table thead {
  border-bottom: solid 1px #6669d2;
}
#primary table thead th {
  padding: 10px 0px;
}
#primary table th {
  text-align: center;
  padding: 5px 0px;
}
#primary table td {
  text-align: center;
}
#primary .entry-footer {
  margin: 20px 0px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}
#primary .entry-footer a {
  color: #6669d2;
  font-size: 12px;
}
#primary .entry-footer a span {
  float: right;
}
#secondary {
  padding-left: 30px;
}
#secondary h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #6669d2;
  padding: 0px 20px;
  margin-top: 3px;
}
#secondary ul {
  margin: 0;
  padding: 5px 5px 5px 30px;
}
#secondary li {
  list-style: none;
  margin: 15px 0;
}
#secondary .widget_search {
  margin-top: 3px;
}
#secondary .widget_search input[type=search] {
  width: 180%;
  outline: none;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  #secondary .widget_search {
    margin-top: 3px;
  }
  #secondary .widget_search input[type=search] {
    width: 144%;
    outline: none;
  }
}
@media screen and (max-width: 991px) {
  #secondary .widget_search {
    margin-top: 3px;
    text-align: center;
  }
  #secondary .widget_search input[type=search] {
    width: 100%;
    outline: none;
  }
  #secondary .widget .widget-title {
    text-align: center;
  }
  #secondary .widget ul li {
    text-align: center;
  }
  #footer-sidebar .widget .widget-title {
    text-align: center;
  }
  #footer-sidebar .widget ul li {
    text-align: center;
    padding: 5px 0;
  }
  #footer-sidebar .widget_search {
    margin-top: 1.5em;
    text-align: center;
  }
  #footer-sidebar .widget_search input[type=search] {
    width: 100%;
    outline: none;
  }
}
.page-header {
  color: #6669d2;
}
.archive .wp-post-image {
  display: none !important;
}
.archive article {
  margin-bottom: 60px;
}
/*--- Pages ---*/
body.search #primary header,
body.archive #primary header {
  border-bottom: 0px;
}
body.search #primary header h1.page-title,
body.archive #primary header h1.page-title {
  font-family: "Oswald", sans-serif;
}
body.search #primary article,
body.archive #primary article {
  margin-bottom: 0px;
}
body.search #primary article h1.entry-title,
body.archive #primary article h1.entry-title {
  margin-bottom: 0px;
}
body.search #primary article a.more-link,
body.archive #primary article a.more-link {
  color: #6669d2;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-left: 20px;
}
/*--- Comment --*/
#comments {
  margin-top: 40px;
}
#comments #respond {
  text-align: center;
}
#comments #respond h3#reply-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #6669d2;
}
#comments #respond input[type="text"],
#comments #respond input[type="email"],
#comments #respond input[type="url"],
#comments #respond textarea {
  border-radius: 0px;
  outline: none;
}
#comments #respond input[type="submit"] {
  box-shadow: none;
  border-radius: 3px;
  border: none;
  color: #555;
  padding: 10px 12px;
  text-shadow: none;
  font-size: 14px;
  transition: all ease .3s;
  outline: none;
}
#comments #respond input[type="submit"]:hover {
  color: #6669d2;
}
#comments .comment-body {
  list-style: none;
  margin: 50px 0;
}
#comments code {
  display: none;
}
#comments .comments-title {
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  color: #6669d2;
}
#comments .comment-list {
  list-style: none;
}
#comments .comment-list .children {
  list-style: none;
}
#comments .comment-meta {
  font-size: 13px;
  border-bottom: solid 1px #eee;
  padding-bottom: 15px;
}
#comments .comment-meta .vcard img {
  float: left;
  height: 100%;
  width: 48px;
}
#comments .comment-meta .vcard .says {
  display: none;
}
#comments .comment-meta .vcard .fn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-left: 10px;
}
#comments .comment-meta .vcard .fn a {
  color: #6669d2;
}
#comments .comment-meta .comment-metadata {
  font-size: 12px;
}
#comments .comment-meta .comment-metadata a {
  padding-left: 10px;
  transition: all ease .2s;
}
#comments .comment-content {
  padding: 10px;
}
#comments .reply {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
#comments .reply a {
  color: #6669d2;
}
@media screen and (max-width: 767px) {
  .nivo-caption {
    position: relative !important;
    opacity: 1 !important;
    color: #ddd !important;
  }
}
